@import "base/base.scss";

body { background-color: #000}

.home-banner .slide .video-slide {
    background-color: #000; }
  
  .home-banner.loading .video-background {
    opacity: 0; }
  
  .video-background {
    z-index: -100;
    position: absolute;
    top: 50%;
    left: 0;
    padding-top: 56.25%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 2s opacity ease;
    transition: 2s opacity ease;
    background-color: #000;
    opacity: 1; }
  
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }

#slides {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 80%;
    border: 0;
}

#videoElement {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    z-index: 1000;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.third-height {
    height: 33%;
}


.two-third-height {
    height: 66%;
}

.test [class*="col-"] {
    padding: 15px;
    // background-color: #f1f1f100;
    // border: 1px solid #D8D8D8;
}

.spacer {
    padding-left: 15px;
    padding-right: 5px;
}

.slido-slide {
    margin-top: 10px;
    padding-right: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
}